In [2]:
import pandas as pd
from ch_driver import *

df = pd.read_csv("./concatResponse.csv")
print(df)

0                    ['Клиент не отвечает/Выключен телефон']
1                      ['Не берет трубку','Не смог продать']
2                                        ['Не смог продать']
3                                                ['Продажа']
4                                        ['Не смог продать']
                                 ...
1872637                        ['Не берет трубку','Продажа']
1872638                                 ['Нецелевая заявка']
1872639    ['Технический перезвон','Не берет трубку','Не ...
1872640                                  ['Не смог продать']
1872641              ['Клиент не отвечает/Выключен телефон']
Name: callCommentArr, Length: 1872642, dtype: object

In [15]:
df

,click_id,age,gender,fake_approve,var,comment,isSuccsess,saleTimestamp,callTimeSeries,callCommentArr
0,3814778104,NaN,None,0,211488,"{""base"":""refuse_tm_no_answer"",""text"":""Не дозво...",0,1970-01-01 03:00:00.000,"[''2022-01-08 11:13:35.000'',''2022-01-08 15:0...",['Клиент не отвечает/Выключен телефон']
1,3932802949,50.0,m,0,1423,"{""base"":""refuse_tm_no_lid"",""select"":""289""}",0,1970-01-01 03:00:00.000,"[''2022-02-15 14:24:17.000'',''2022-02-15 14:3...","['Не берет трубку','Не смог продать']"
2,4103118085,60.0,f,0,0,"{""base"":""refuse_tm_no_lid"",""select"":""289""}",0,1970-01-01 03:00:00.000,[''2022-04-21 16:23:23.000''],['Не смог продать']
3,3903065999,45.0,f,0,0,[],1,2022-02-04 06:32:43.000,[''2022-02-04 06:32:43.000''],['Продажа']
4,3866791719,45.0,f,0,0,"{""base"":""refuse_tm_no_lid"",""text"":""no tiene di...",0,1970-01-01 03:00:00.000,[''2022-01-23 10:29:06.000''],['Не смог продать']
...,...,...,...,...,...,...,...,...,...,...
1872637,3819912969,76.0,f,0,1971,[],1,2022-01-09 17:56:47.000,"[''2022-01-09 17:23:56.000'',''2022-01-09 17:5...","['Не берет трубку','Продажа']"
1872638,3827176359,NaN,None,0,0,"{""base"":""refuse_tm_fraud"",""text"":""Не оставлял ...",0,1970-01-01 03:00:00.000,[''2022-01-11 16:04:54.000''],['Нецелевая заявка']
1872639,3879239229,NaN,None,0,83361,NaN,0,1970-01-01 03:00:00.000,"[''2022-01-27 14:07:14.000'',''2022-01-28 13:1...","['Технический перезвон','Не берет трубку','Не ..."
1872640,3802277469,1.0,m,0,0,"{""base"":""refuse_tm_no_lid"",""select"":""289""}",0,1970-01-01 03:00:00.000,[''2022-01-04 07:53:28.000''],['Не смог продать']
1872641,3821323864,NaN,None,0,239259,"{""base"":""refuse_tm_no_answer"",""text"":""Не дозво...",0,1970-01-01 03:00:00.000,"[''2022-01-11 18:33:24.000'',''2022-01-10 12:3...",['Клиент не отвечает/Выключен телефон']

In [18]:
successSales = df.loc[df['isSuccsess'] == 1]
lostSales = df.loc[df['isSuccsess'] == 0]
print("Percent of success sales: ", len(successSales) / len(df))
print("Percent of lost sales: ", len(lostSales) / len(df))
print("Percent of known sales: ", (len(successSales) + len(lostSales)) / len(df))

Percent of success sales:  0.28443130080389095
Percent of lost sales:  0.715568699196109
Percent of known sales:  1.0

In [17]:
maleSales = df.loc[df['gender'] == 'm']
femaleSales = df.loc[df['gender'] == 'f']
print("Percent of female customers: ", len(femaleSales) / len(df))
print("Percent of male customers: ", len(maleSales) / len(df))
print("Percent of gender of customers in DB: ", (len(maleSales) + len(femaleSales)) / len(df))

Percent of female customers:  0.39678806734015365
Percent of male customers:  0.2823898000792463
Percent of gender of customers in DB:  0.6791778674194

In [21]:
knownAge = df.loc[df['gender'] == "None"]
print(f"Percent of known age of customers in DB: {len(knownAge) / len(df)}")
print(f"Percent of unknown age of customers in DB: {1 - (len(knownAge) / len(df))}")

Percent of known age of customers in DB: 0.32082213258060005
Percent of unknown age of customers in DB: 0.6791778674194

: